*{ 
    margin: 0; padding: 0; 
}

#conteiner { 
    height: fit-content; 
    min-height: 50vh; }

#section1 { 
    height: 130vh; 
    background-image: url("./images/spidermanheaderefunko.png"); 
    background-position: top; 
    background-size: cover;

}

.menucontainer { 
    display: flex; 
    width: 30%; 
    justify-content: space-around; 
    margin-top: 05%; 
}

.menucontainer a h3:hover {
    text-decoration: underline;
    padding-bottom: 5px;
    text-decoration-color: #fe7467;
    text-decoration-thickness: 4px;   
}

.nav {
    text-decoration
    padding-top: 20px;
}

.header { 
    display: flex; 
    width: 100%; 
    height: 20vh; 
    position: absolute; 
}

.logo { 
    height: 70%; 
    width: 15%; 
}

.linkStyle { 
    color: white; 
    text-decoration: none; 
}

.section2 { 
    display: flex; 
    justify-content: space-between; 
    background-image: url("./images/thor_header.jpg"); 
    background-position: top; 
    background-size: cover;    
    height: 130vh; 
    flex-direction: column;

}

.section3 { 
    display: flex; 
    background-image: url("./images/bonecos.png"); 
    background-position: left; 
    background-size: cover; 
    height: 130vh; 
    flex-direction: column;

}

.quemsomos { 
    height: 30%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    color: white; 
    padding-right: 5%; 
    margin: 0;

}

#quemsomos { 
    font-size: 2em; 
    text-align: center; 
    font-weight: 800;

}

.hrquemsomos { 
    background-color: white; 
    border: 0; 
    height: 3%; 
    width: 20%; 
    margin-top: 0.5%; 
}

.text1 { 
    display: flex; 
    height: 70%; 
    padding: 0 3% 0% 55%; 
    justify-content: center; 
    align-items: start; 
    line-height: 1.5; 
    overflow: hidden;
}

.text1right { 
    display: flex; 
    height: 100%; 
    justify-content: center; 
    align-items: center; 
}

#text1 { 
    color: white; 
    font-size: 1.5em; 
    text-align: justify; 
}

.catalogo { 
    height: 30%; 
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    color: white; 
    padding-right: 5%; 
    margin: 0; 
}

#catalogo { 
    font-size: 2em; 
    text-align: center; 
    font-weight: 800; color: #5c5c5c; }

.hrcatalogo { 
    background-color: #f6a69c; 
    border: 0; 
    height: 3%; 
    width: 12%; 
    margin-top: 0.4%; 
}

.righttext2 { 
    display: flex; 
    height: 100%; 
    justify-content: center; 
    align-items: center; 
    margin-left: 15%; 
}

#text2 { 
    color: #5c5c5c; 
    font-size: 1.5em; 
    text-align: justify; 
}

.vercatalogo { 
    background-color: #f6a69c; 
    color: #5c5c5c; 
    border: 0; 
    height: 10%; 
    width: 20%; 
    border-radius: 5%; 
    margin-top: 10%; 
    font-size: 1.5em; 
}

.vercatalogo:hover { 
    background-color: #e9968c; 
    cursor: pointer; }