*{
    margin: 0;
    padding: 0;
}

#container {
    height: fit-content;
    min-height: 50vh;
}

#section1 {
    height: 100vh;
    background-image: url("./images/spidermanheaderefunko.png");
    background-position: top;
    background-size: cover;
}

.menuContainer {
    display: flex;
    width: 30%;
    color: white;
    justify-content: space-around;
    margin-top: 05%;
}

.header {
    display: flex;
    width: 100%;
    height: 20vh;
    position: absolute;
}

.logo {
    height: 70%;
    width: 15%;
}