* {
    margin: 0;
    padding: 0;
}

.navbar {
    padding: 60%;
    margin-left: 90%;
    margin-top: 85%;
    display: flex;
}

li {
    list-style: none;
    display: inline;
    color: #fff;
    font-size: 2em;
    padding: 0 5px;
}

lu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.logo {
    margin-bottom: 15%;
    width: 200px;
    margin-top: 20px;
    margin-left: 20px;
}

 header {
    width: 100%;
    display: flex;
    background-image: url(./images/imagens\ atualizadas/spidermanheader.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    
 }

 .funko {
    width: 400px;
    padding: 250px;
    margin: 0 0 0 -50%;
}

 .thor {
    width: 100%;
 }

 .bonecos {
    width: 50%;
    height: 50%;
    display: flex;
 }

 h1 {
    text-align: center;
    padding: 10px;
    text-decoration: underline;
    
 }